---
import ContentLayout from '../../layouts/ContentLayout.astro';
import atjInfographics from '../../images/atj-infographics.png';
---

<ContentLayout title="10x Access to Justice Splash Page">
  <div class="offline-homepage">
    <section class="usa-hero" aria-label="Introduction">
      <div class="grid-container">
        <div class="usa-hero__callout padding-0">
          <h1 class="usa-hero__heading font-sans- text-base-darkest">
            A people-centered platform for online document assembly
          </h1>
          <template id="js-modal-content">
            <iframe src="https://www.loom.com/embed/d958328ec69548ed99c6cd1a15af8a16?sid=ecc5f80b-931b-403d-addc-538215b53092" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
          </template>
          <p class="play-video margin-0">
            <a href="#demo-video"
              class="usa-button text-base-lightest bg-base-darkest js-modal-content-trigger" 
              aria-controls="demo-video"
              data-open-modal     
            > 
              <span class="font-sans-3xs text-normal display-block margin-bottom-1">Play Video | 5 minutes</span>
              <span class="sans-body-xs display-block">Demo: 10x Access to Justice Forms Platform</span>
            </a>
          </p>         
        </div>
        <div class="display-none">
            <div
            class="offline-homepage-modal usa-modal usa-modal--lg"
            id="demo-video"
            aria-labelledby="10x A2J Form Demo"
            aria-describedby="10x A2J Form Demo"
          >
            <div class="usa-modal__content">
              <div class="usa-modal__main">
                <div class="js-modal-content-target"></div>
              </div>
              <button
                type="button"
                class="usa-button usa-modal__close"
                aria-label="Close this window"
                data-close-modal
              >
                &#x2715;
              </button>
            </div>
          </div>
        </div>      
      </div>
    </section>
    <section class="usa-section">
        <div class="grid-container intro-block">
          <p class="usa-intro font-sans-9 text-light margin-0">The 10x Access to Justice Forms Platform is revolutionizing the way courts and government agencies handle forms, replacing outdated fillable PDFs with modern, web-based digital forms that are compliant with the 
            <a
              class="usa-link usa-link--external"
              rel="noreferrer"
              href="https://digital.gov/resources/delivering-digital-first-public-experience/"
              >
                21st Century Integrated Digital Experience Act (IDEA)
              </a>
          </p>
        </div>
      </section>
      <section class="usa-graphic-list usa-section bg-base-darkest text-white">
          <div class="grid-container">
            <div class="usa-graphic-list__row grid-row grid-gap">
              <p>
                <img src={atjInfographics.src} role="img" alt="10x ATJ Infographic" width="960" height="275" loading="lazy" />
              </p>
              <div class="usa-media-block tablet:grid-col">               
                <div class="usa-media-block__body">
                  <h2 class="usa-graphic-list__heading font-sans-9">Empower the Public</h2>
                  <p class="font-sans-xs margin-top-0">Our platform's “guided interview” design simplifies form completion for self-represented litigants, empowering them to advocate for themselves more effectively.</p>
                </div>
              </div>
              <div class="usa-media-block tablet:grid-col">               
                <div class="usa-media-block__body">
                  <h2 class="usa-graphic-list__heading font-sans-9">Enhanced User Experience</h2>
                  <p class="font-sans-xs margin-top-0">The intuitive interface ensures a seamless experience, reducing frustration and errors, and improving overall experience for the public and form authors.</p>
                </div>
              </div>
            </div>
            <div class="usa-graphic-list__row grid-row grid-gap">
              <div class="usa-media-block tablet:grid-col">                
                <div class="usa-media-block__body">
                  <h2 class="usa-graphic-list__heading font-sans-9">Save Time for Staff</h2>
                  <p class="font-sans-xs margin-top-0">By minimizing incorrect and missing data, our digital forms free up valuable staff time, allowing government employees to focus on more critical tasks.</p>
                </div>
              </div>
              <div class="usa-media-block tablet:grid-col">                
                <div class="usa-media-block__body">
                  <h2 class="usa-graphic-list__heading font-sans-9">Seamless Integration and Implementation</h2>
                  <p class="font-sans-xs margin-top-0">Easily create, host, and integrate digital forms without major IT overhauls, complementing existing systems and supporting necessary policy and process improvements.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="usa-section bg-white">
          <div class="grid-container">
            <h2>How we’re getting there</h2>
            <p class="margin-0">Taking a user-driven, research-first approach, we are piloting with federal and state partners, targeting the high-value PDF-to-web workflow. We plan to expand into other government domains as we prove value in the justice space.</p>
            <p>Forward thinking courts are already using open source tools that have delivered big wins for their communities. However, we have identified critical barriers to adoption. In Phase 3, we designed and tested several loosely-couple parts focused on high-value workflows, and built interest from the A2J community.</p>
            <p>In Phase 4, we are working to scale the system with complete, end-to-end user experiences and integrate with backend case management systems. We are building the system in a manner that we believe positions it as a viable "Forms as a Service" product that may, in the future, more broadly serve other government domains.</p>
          </div>
        </section>
        <section class="usa-section body-content-gray">
          <div class="grid-container">
            <h2>Help us shape the future of forms</h2>
            <p class="margin-0">If you have a backlog of PDF forms that you need to get into compliance with the 21st Century IDEA, sign up to have an initial discussion with the Forms Platform project team. We’ll see if you’d be a good fit for our pilot program.</p>
            <p>Your inputs will make it possible for us to continue our mission of enabling all government offices to be able to incrementally deliver trusted digital forms using customer experiences best practices with current-year money.</p>
            <p>
              <a class="usa-button usa-button--outline" href="">Contact project team</a>
            </p>
          </div>
        </section>  
  </div>
  <script>
    (function() {
      const template = document.querySelector('#js-modal-content');
      const button = document.querySelector('.js-modal-content-trigger');
      const clone = template.content.cloneNode(true);
      const viewport = document.querySelector('.js-modal-content-target');

      button.addEventListener('click', (e) => {
        viewport.appendChild(clone);
      }, {
        once: true
      });
    })();
  </script>
</ContentLayout>
