---
import ContentLayout from '../../layouts/ContentLayout.astro';
import DebugTools from '../components/DebugTools';
import atjInfographics from '@atj/design/images/atj-infographics.png';
---

<ContentLayout title="10x Access to Justice Splash Page">
  <h1>A people-centered platform for online document assembly</h1>

  <div class="videoWrapper">
    <iframe src="https://www.loom.com/embed/d958328ec69548ed99c6cd1a15af8a16?sid=e4df1738-9f51-4900-8b90-2e66c06fcc07" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
  </div>

  <h2>What it is:</h2>
  <p>Fillable PDFs are not <a href="https://digital.gov/resources/delivering-digital-first-public-experience/">21st Century Integrated Digital Experience Act (IDEA) compliant</a>. The 10x Access to Justice Platform will empower courts and other government agencies to craft web-based replacements to fillable PDFs. Delivering first-class user experiences, these easy-to-build and deploy digital forms deliver better outcomes for the public and public servants through the use of a "guided interview" design strategy. Guided interviews put users first and reduces staff time spend on incorrect and missing data. Easy to create, easy to host, and integrable with existing processes and backend systems. Digital forms that help self-represented litigants better advocate for themselves do not need to wait for major IT and process overhauls.</p>

  <p>
    <img src={atjInfographics.src} role="img" alt="10x ATJ Infographic" />
  </p>


  <h2>What it's not:</h2>
  <p>Replacing user-facing pdfs with digital forms is not a substitute for deeper policy and process changes. These are often necessary to enable the biggest digital services wins. We are not building a case management system or a back-office automation system. Instead, we are delivering a loosely-coupled part that interfaces with those systems and focuses narrowly on helping the public gain access, understand, and advocate for themselves through government forms.</p>

  <h2>High level plan:</h2>
  <p>We are partnering with an NGO that has active pilots with state and local courts, as well as with the US Tax Court, which has several high-quality digital forms in production. We plan to expand into other gov domains as we prove value in production in the justice space.</p>

  <h2>Roadmap:</h2>
  <p>Forward thinking courts are already using open source tools that have delivered big wins for their communities. However, we have identified critical barriers to adoption. In our ongoing <a href="https://10x.gsa.gov/about/what-we-do/">Phase 3</a>, we aim to design and demo several loosely-couple parts focused on high-value workflows, and build interest from the A2J community. In Phase 4, we will scale the system with complete, end-to-end user experiences and integrate with backend case management systems. We are building the system in a manner that we believe positions it as a viable "Forms as a Service" product that may, in the future, more broadly serve other government domains.</p>

  <h2>TTS/GSA/Federal Alignment:</h2>
  <p>In phase 3, we will break out and modernize the front-end and presentation layer of the system as a primary objective, with a stretch goal of delivering small, low-hanging wins on the back-end to help build additional trust. We plan to collaborate with USWDS and the VA Forms System to develop forms components and standards for the next version of USWDS. By the end of phase 4, we expect to be able to showcase a powerful tool to help agencies comply with 21C standards for digital forms.</p>
</ContentLayout>
