---
import { getAppContext } from '../context';
import { InterviewForm } from '../components/react/interview-form';
import ContentLayout from '../layouts/ContentLayout.astro';

const context = getAppContext(import.meta.env);
---

<ContentLayout context={context} title="10x Access to Justice Spotlight">
  <h1>10x Access to Justice Spotlight</h1>
  <InterviewForm />
</ContentLayout>
