---
import { DocumentAssembler } from '@atj/design/src/experiments/document-assembler';
import ContentLayout from '../layouts/ContentLayout.astro';
---

<ContentLayout title="10x Access to Justice Spotlight">
  <h1>10x Access to Justice Spotlight</h1>
  <ul>
    <li>
      <a href={`${import.meta.env.BASE_URL}forms`}>Manage my forms</a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}form-sample`}>Sample form</a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}ud105-evicition-form`}
        >UD 105 - Unlawful Detainment Eviction Form</a
      >
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}forms/import-pdf`}>Import PDF</a>
    </li>
  </ul>
  <DocumentAssembler client:load />
</ContentLayout>
