---
import ContentLayout from '../layouts/ContentLayout.astro';
import AppAvailableFormList from '../components/AppAvailableFormList';
import DebugTools from '../components/DebugTools';
---

<ContentLayout title="10x Access to Justice Spotlight">
  <h1>Create an interview from a PDF Form</h1>
  <AppAvailableFormList client:only />
  <DebugTools client:only />
</ContentLayout>
