---
import ContentLayout from '../layouts/ContentLayout.astro';
import AppAvailableFormList from '../components/AppAvailableFormList';
import DebugTools from '../components/DebugTools';
import FormManagerFooter from '../components/FormManagerFooter';
---

<ContentLayout title="10x Access to Justice Spotlight">
  <h1>My Forms</h1>
  <AppAvailableFormList client:only />
  <FormManagerFooter client:only />
  <DebugTools client:only />
</ContentLayout>
