---
import ContentLayout from '../layouts/ContentLayout.astro';
import AppAvailableFormList from '../components/AppAvailableFormList';
---

<ContentLayout title="10x Access to Justice Spotlight">
  <h1>10x Access to Justice Spotlight</h1>
  <AppAvailableFormList client:only />
</ContentLayout>
