---
import { DocumentAssembler } from '../components/react/document-assembler';
import { getAppContext } from '../context';
import ContentLayout from '../layouts/ContentLayout.astro';

const context = getAppContext(import.meta.env);
---

<ContentLayout context={context} title="10x Access to Justice Spotlight">
  <h1>10x Access to Justice Spotlight</h1>
  <ul>
    <li>
      <a
        href="https://trello.com/c/25Jl6NwJ/207-digital-access-to-justice-platform"
        >Project overview</a
      >
    </li>
  </ul>
  <DocumentAssembler client:load />
</ContentLayout>
