/* Add a Pattern Menu */

.dropdownMenu {
  min-width: 315px;
}

.dropdownMenu:active,
.dropdownMenu:hover,
.dropdownButton:active,
.dropdownButton:hover {
  color: #1b1b1b;
  background-color: #fff;
  font-weight: bold;
}

.dropdownMenu:hover li,
.dropdownItem:hover {
  font-weight: normal;
}

.dropdownItem:hover {
  background: #d9e8f6;
}

.usaFieldset {
  top: 96px;
}

/* Page Title Area */

.titleArea::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  border-top: 1px dotted #888;
  z-index: 0;
  transform: translateY(-50%);
}

.titleText,
.pageNumber {
  z-index: 1;
}

/* Draggable List */

.draggableListWrapper legend {
  padding-left: 1.5rem;
}

.draggableListWrapper .radioFormPattern legend {
  padding-left: 0;
}

.draggableListWrapper button {
  cursor: pointer;
}

.draggableListWrapper:focus-within,
.draggableListWrapper button:not([disabled]):focus {
  outline: 0.25rem solid #783cb9;
}

.draggableListWrapper [tabindex]:focus,
.draggableListWrapper:has(input:focus),
.draggableListWrapper:has(button:focus),
.draggableListWrapper:has(textarea:focus) {
  outline: none;
}

.draggableListWrapper .dropdownMenu {
  margin-top: 5px;
}

/* Configure and Publish Pages */
.progressPage {
  min-height: 60vh;
}

/* Fieldset */
.usaAlert .usaAlertBody {
  margin-left: 0;
}

.usaAlert span {
  background: none;
}

.dottedLine {
  display: flex;
  align-items: center;
  text-align: center;
}

.dottedLine::before,
.dottedLine::after {
  content: '';
  flex: 1;
  border-bottom: 1px dotted #71767a; /* TODO: $theme-color-base */
}

.dottedLine::before {
  margin: 0 1em 0 0;
}

.dottedLine::after {
  margin: 0 0 0 1em;
}

/* Move to Page */

.moveToPage,
.questionPosition {
  max-width: 21rem;
}

.patternActionWrapper .dropdownMenu div {
  padding: 8px;
  cursor: pointer;
}

.patternActionWrapper .dropdownMenu div:hover {
  background: #f0f0f0;
}

.patternActionWrapper .dropDown {
  position: absolute;
  top: 3rem;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
  width: 16rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.patternActionWrapper .dropDown select {
  max-width: 9.375rem;
}

.patternActionWrapper .dropDown button {
  width: 9.375rem;
}

.patternActionButtons {
  max-width: 15.625rem;
}

.movePatternButton {
  color: #005ea2;
}

.movePatternButton:focus {
  outline: 0.25rem solid red;
}

.movePatternButton span {
  font-size: 1.25rem;
}

.movePatternButton svg {
  font-size: 1.5rem;
}

@media (min-width: 64.5em) {


  .moveToPage,
  .questionPosition {
    min-width: 18.75rem;
  }
}

@media (max-width: 40em) {
  .dropdownMenu {
    bottom: 4.5rem;
    max-height: 40vh;
    overflow: auto;
    left: 32px;
  }
}