@use "uswds-core" with (
  $theme-show-notifications: false,
  $theme-banner-max-width: "widescreen",
  $theme-footer-max-width: "widescreen",
  $theme-grid-container-max-width: "widescreen",
  $theme-header-max-width: "widescreen",
);
