.richTextMenuBar {
  flex-wrap: wrap;
}
.richTextMenuBarButton {
  padding: 5px;
  height: fit-content;
}

.richTextMenuBarButtonSelected {
  filter: invert(1);
}

.richTextEditorWrapper li > p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.richTextEditorBody > div :first-child {
  margin-top: 0;
}

.richTextEditorBody {
  cursor: text;
  max-height: 65vh;
  overflow: auto;
}
